<div class="card-item">
    <div class="row g-0">
      <div class="form-check col-md-1">
        <input 
        id="input-cart-item"
        type="checkbox" 
        class="form-check-input"
        [checked]="isChecked"
        (change)="onToggleCheck($event)">
      </div>
      <div class="col-md-4">
        <img id="photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}" class=" rounded-start" >
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h2 class="card-title">{{housingLocation.name}}</h2>
          <p class="card-text">{{housingLocation.city}} 🏴</p>
        </div>
        <button id="btnBuyCart" type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>
</div>
